.sidebar_newsletter_sign_up,
.sidebar_subscribe,
.sign-up-form-single,
.signup-form--header,
.signup-with-checkboxes,
.skinny-sign-up,
.slidedown-newsletter,
.small-newsletter,
.social-link-mail,
.social_newsletter_box,
.story-follow-module,
.subscrOptWide,
.subscribe-article-bottom,
.subscribe-banner,
.subscribe-block,
.subscribe-blurb,
.subscribe-newsl,
.subscribe-right,
.subscribe-to-magazine,
.subscribe2,
.subscribeModal,
.subscribetitle,
.subscribe_box,
.subscribe_btn,
.subscribe_cont,
.subscribe_email,
.subscribe_form,
.subscribe_link,
.subscribe_popup1,
.subscribe_thasu,
.subscribe_to_im,
.subscribe_webopedia_weekly,
.subscribeform,
.subscription-box-cntr,
.subscription-form-container,
.subscriptionForm,
.subwidget,
.tl-newsletter-widget,
.traqli-subscribe,
.tsq_sailthru_newsletter_widget,
.ui-home-newsletter,
.ui-newsletter,
.ui-newsletter-channel-sign-up,
.ui-newsticker-wrapper,
.widget-newsletter,
.widget-ngs-subscribe,
.widget-subscribe,
.widget_cbs_newsletter_widget,
.widget_ione-bp_newsletter_signup,
.widget_mailerlite_widget,
.widget_mymail_signup,
.widget_newsletter,
.widget_newsletter_sidebar,
.widget_newsletter_signup,
.widget_newsletters,
.widget_newsletterwidget,
.widget_ns_mailchimp,
.widget_ok_mailinglistmultiple_widget,
.widget_signupwidget,
.widget_subscribe,
.widget_subscribe-form,
.widget_subscribe_box,
.widget_text_newsletter,
.widget_woo_customsubscribewidget,
.widget_woo_subscribe,
#AvisoCookieslaw,
#BandeauInfoCookie,
#BlkCookies,
#CCompliance,
#CNIL,
#CNIL-notice,
#CNILMessage,
#COOKIE_BANNER,
#CRTL_AlertCookie,
#Consentement-cookies,
#Cookie-Overlay,
#Cookie-Policy,
#CookieAlert,
#CookieBanner,
#CookieBannerNew,
#CookieConsentDiv,
#CookieContainer,
#CookieDiv,
#CookieInfo,
#CookieInformation,
#CookieMessaging,
#CookieNotification,
#CookieNotificationBar,
#CookieOK,
#CookiePanel,
#CookiePolicy,
#CookieQBanner,
#CookieReportsButton,
#CookieReportsPanel,
#CookieT2Bar,
#CookieWrapper,
#CookielawBanner,
#CookiesBanner,
#CookiesOverlay,
#CookiesWarning,
#EUCookie,
#EUCookieMsg,
#EUDirectiveCookiePanel,
#FT_Cookies,
#Footer_cookieLawBox,
#GlobalCookieBanner,
#PaveCookies,
#Row1_Column1_Cell1_CookieSettings_CookieSettings,
#SiteMasterPage_updCookieDisclaimer,
#TNTpageContentPlaceHolder_pnlCookieMessage,
#WP-cookie-info,
#_CookieText,
#ic-notice,
#ndcc_cookieImpliedConsent,
#about-cookies,
#aboutCookieUsageBox,
#accept-cookie,
#accept-cookies-div,
#acceptCookie,
#acceptCookiesDiv,
#accept_cookies,
#af-cookie-policy,
#alert-cookie-policy,
#alertCookies,
#alerte_cnil,
#all4nav-cookie-component,
#all4nav-cookie-policy-notification,
#allowCookiesPopup,
#aoCookiePolicy,
#arte-cookie-banner,
#asterix_cookie_widget,
#avertissement_cookies,
#bandeau-cookies,
#bandeauCookie,
#bandeauCookies,
#bandeau_cookies,
#banner-cookie,
#bannerCNIL,
#bannerCookieContainer,
#banner_cookie,
#banniere-cookie,
#bauerCookiePolicy,
#bbccookies,
#bf-cookie-notice,
#bkCookieBanner,
#bloc_cookies,
#bloc_setcookie,
#block-cookie_policy-0,
#block-inf-eu-cookie-cookie-disclaimer,
#blogger_cookie_notice,
#boxZgodaNaCookie,
#box_cookie_info,
#box_cookies_error,
#c2g_cookie_dialog,
#c_agrem,
#ca_banner,
#cadre_alert_cookies,
#catapult-cookie-bar,
#cc-cookies,
#cc-notification,
#ccc-state,
#ccconsent,
#ccgtm-banner,
#ccm-cookiesDisclosure,
#cf-cookie-banner,
#ck-cookie-statement,
#cl-banner,
#cnil-cookie,
#cnil-cookie-panel,
#cnilNotification,
#cnil_alert,
#cnil_bar,
#com_cookie_policy,
#confirmCookiePolicy,
#confirm_cookie_use,
#container_info_cnil,
#conteneurCookies,
#content-cookies,
#coockieAPContainer,
#cooki_accept,
#cookie-accept,
#cookie-acceptation-popup,
#cookie-alert,
#cookie-allow,
#cookie-banner,
#cookie-bar,
#cookie-bar-main,
#cookie-block,
#cookie-cnil-box,
#cookie-compliance,
#cookie-compliance-bottom,
#cookie-compliance-bottom-overlay,
#cookie-consent,
#cookie-consent-bar,
#cookie-consent-container,
#cookie-consent-wrapper,
#cookie-container,
#cookie-content,
#cookie-control,
#cookie-disclosure,
#cookie-div,
#cookie-header,
#cookie-info,
#cookie-info-bar,
#cookie-info-box,
#cookie-info-layer,
#cookie-information,
#cookie-information-banner,
#cookie-inner-wrapper,
#cookie-law,
#cookie-law-info-bar,
#cookie-lightbox,
#cookie-message,
#cookie-message-container,
#cookie-modal-bg,
#cookie-notice,
#cookie-notification,
#cookie-notification-wrapper,
#cookie-notifier,
#cookie-opt-in,
#cookie-opt-in-footer,
#cookie-overlay,
#cookie-overlay-footer,
#cookie-panel,
#cookie-policy,
#cookie-policy-banner,
#cookie-policy-container,
#cookie-policy-notice,
#cookie-policy-strap,
#cookie-popup,
#cookie-prompt-fixed,
#cookie-regle,
#cookie-ribbon,
#cookie-statement,
#cookie-ue,
#cookie-warn,
#cookie-warning,
#cookie-warning-bar,
#cookieAccept,
#cookieAcceptPos,
#cookieAcknowledgement,
#cookieAgreementContent,
#cookieAlert,
#cookieAlertBoxID,
#cookieAlertMessage,
#cookieBanner,
#cookieBar,
#cookieBlock,
#cookieBox,
#cookieChoiceInfo,
#cookieCompliance,
#cookieComplianceMessage,
#cookieConsent,
#cookieConsentBar,
#cookieControl,
#cookieCookieBar,
#cookieDisc,
#cookieDisclaimer,
#cookieDiv,
#cookieDivContent,
#cookieDough,
#cookieDropDown,
#cookieFixed,
#cookieFooter,
#cookieFrame,
#cookieGuardMsg,
#cookieHeader,
#cookieHint,
#cookieInfCont,
#cookieInfo,
#cookieInfoBar,
#cookieInfoBox,
#cookieInfoMsgWrapper,
#cookieInfoWrapper,
#cookieInformerBooklet,
#cookieLY,
#cookieLaw,
#cookieLawBox,
#cookieLawHeader,
#cookieLayer,
#cookieLine,
#cookieMessage,
#cookieMessageContainer,
#cookieMessageDisplayDIV,
#cookieMgn,
#cookieModal,
#cookieMon,
#cookieMonsterWrapper,
#cookieMsg,
#cookieMsgBlock,
#cookieMsgWrapper,
#cookieNotes,
#cookieNotice,
#cookieNoticeContainer,
#cookieNotification,
#cookieParisien,
#cookiePlaceholder,
#cookiePolicy,
#cookiePolicy-layer,
#cookiePolicyBar,
#cookiePolicyNotification,
#cookiePolicyPopup,
#cookiePoolicy,
#cookiePopUp,
#cookiePopin,
#cookiePopup,
#cookiePopupContainer,
#cookiePrompt,
#cookiePromptWrapper,
#cookieTime,
#cookieView,
#cookieWarning,
#cookieWarningBox,
#cookieWarningDiv,
#cookieWarningMessage,
#cookieWindowContainer,
#cookieWrap,
#cookieWrapper,
#cookie_accept,
#cookie_agreement,
#cookie_alert,
#cookie_alert_bar,
#cookie_alert_container,
#cookie_assistant_container,
#cookie_banner,
#cookie_banner_container,
#cookie_bar,
#cookie_bar_top,
#cookie_box,
#cookie_cnil,
#cookie_consent,
#cookie_content,
#cookie_disclaimer,
#cookie_disclaimer_wrapper,
#cookie_header,
#cookie_info,
#cookie_law,
#cookie_law_banner,
#cookie_message,
#cookie_message_container,
#cookie_notice,
#cookie_notification_bar,
#cookie_panel,
#cookie_policies,
#cookie_policy,
#cookie_policy_alert,
#cookie_policy_banner,
#cookie_policy_popup,
#cookie_popup,
#cookie_privacy_holder,
#cookie_privacy_popup,
#cookie_prompt,
#cookie_shout,
#cookie_usage,
#cookie_warn,
#cookie_warning,
#cookie_widget,
#cookieaccept,
#cookiealert,
#cookiealert_content,
#cookiebanner,
#cookiebar,
#cookiebar-container,
#cookiebnr,
#cookiebox-wrapper,
#cookiecnil,
#cookieconsent,
#cookiecontrol,
#cookiecontrol_notice,
#cookiediv,
#cookieinfo,
#cookieinfo-container,
#cookielaw,
#cookielaw2,
#cookielawwarning,
#cookielightbox,
#cookiemenu,
#cookiemodalbar,
#cookiemodalbarplaceholder,
#cookiemodule,
#cookiemonster,
#cookiemonster_popup,
#cookiemsg,
#cookiemsgbox,
#cookienotice,
#cookienotice-container,
#cookienotif,
#cookienotify-wrapper,
#cookieoverlay,
#cookiepolicy,
#cookiepolicybg,
#cookiepolicydiv,
#cookiepop,
#cookiepopup,
#cookierBayer,
#cookiereports-badge,
#cookies-acc,
#cookies-agreed-wrapper,
#cookies-agreement-box,
#cookies-banner,
#cookies-bar,
#cookies-fancybox,
#cookies-info,
#cookies-message,
#cookies-message-main,
#cookies-messages,
#cookies-modal,
#cookies-msg,
#cookies-notice,
#cookies-overlay,
#cookies-panel,
#cookies-policy,
#cookies-policy-banner,
#cookies-policy-container,
#cookies-policy-mssg,
#cookies-policy-prompt,
#cookies-policy-wrapper,
#cookies-politics,
#cookies-privacy,
#cookies-verify,
#cookies-warning,
#cookies-warning-box,
#cookiesArticle,
#cookiesBanner,
#cookiesBar,
#cookiesContainer,
#cookiesDiv,
#cookiesInfo,
#cookiesInitialDialog,
#cookiesLequipe,
#cookiesMessage,
#cookiesNotification,
#cookiesPanel,
#cookiesPolicyPopup,
#cookiesPop,
#cookiesWarning,
#cookiesWarningActive,
#cookiesWarningBanner,
#cookiesWrapper,
#cookies_apla,
#cookies_ask,
#cookies_block,
#cookies_block_footer,
#cookies_box,
#cookies_container,
#cookies_info,
#cookies_message,
#cookies_message_bar,
#cookies_msg,
#cookies_notifier,
#cookies_policy,
#cookies_warning,
#cookiescript_injected,
#cookiesdirective,
#cookiesdisclaimer,
#cookieshit,
#cookiespolicy,
#cookiesribbon,
#cookiestatement,
#cookietext,
#cookieu_header,
#cookieuseage,
#cookiewarn,
#cookiewarning,
#cookiewrapper,
#cookis-bg,
#ctl00_CookieMessage1_divCookie,
#ctl00_CookieMessage1_upCookie,
#ctl00_cookieconsent_ajaxPanel,
#ctl00_ctl00_divCookiePolicyContainer,
#ctl00_pnlCookieMessage,
#ctl00_privacyCookies_LIPCNB_PrivacyandCookiesNoticePanel,
#ctl01_ctl00_CookiePreferencesControl,
#ctl20_pnlCookie,
#ctl30_pnlCookie,
#ctrlHeader_divCookieText,
#dcc_cookieMessageContainer,
#dennis-cookie-notice,
#disclaimerCookies,
#divCookie,
#divCookieMsg,
#divCookiePolicy,
#div_cookie,
#dvCookie,
#eCookieConsentDialog,
#eCookieMsg,
#ePrivacyBanner,
#ePrivacyDisclaimer,
#ec-cookie-messages-container,
#ee-cookies-message,
#eimm_box_cookie_alerte_message,
#eprivacy,
#eu-cookie,
#eu-cookie-bar,
#eu-cookie-compliance,
#eu-cookie-content,
#eu-cookie-law,
#eu-cookie-notify-wrap,
#eu-cookie-policy-banner-wrapper,
#eu-cookies,
#eu-cp-banner,
#eu_cookie,
#eu_cookies,
#eucl_panel,
#eucookie,
#eucookielaw,
#eucookienotice,
#external-cookie-bar,
#fixed-cookie,
#foCookieNotice,
#footer-cookies,
#fp_cookieMessageContainer,
#front-no-cookies-warn,
#fs-cookiewarning,
#future-cookie-bar,
#gel-cookie-banner,
#gh-cookieb,
#global-cookie-message,
#have-a-cookie,
#headband-cookie,
#header-info-cookie,
#headerCookieLaw,
#headerCookies,
#hi-cookie-box,
#htmlPopinCookies,
#icoCookiesBanner,
#id_cookieconsent,
#ietCookiePanel,
#imPolicycookiemessage,
#info-cookie,
#infoCookie,
#info_cookie,
#informations-cookies,
#infos_cookie,
#itv-cookie-notification,
#itv-glob-cookie-policy,
#jQAlertAcceptCookie,
#jlp-cookie-container,
#jquery-cookie-law-script,
#js-TosPrivacy,
#js-infos-cookies,
#js-message-bar-cookie-notice,
#js_popup_cookies,
#js_pushDownCookieMessage,
#jumper_cookies,
#layerCookies,
#layer_cookie,
#lc_cookies-main,
#legal_policy_cookies,
#lscookiesMax,
#m_cookie_popup,
#mainDivLegacyCookie,
#messageCookie,
#message_cookie,
#mktg_Cookie,
#mktg_Cookie_Wrap,
#mmmmm-cookies,
#modalCookieContainer,
#msg-cookie,
#mss-legal-banner,
#mssg-cookies-warning,
#mycookie,
#nav_cookie,
#new-cookie,
#nibirumail_cookie_advice,
#no-cookie,
#notificacio-cookies,
#nuk-cookieMessage,
#o-cookie,
#okcookies,
#okookie-box,
#pc-cookie-notice,
#pecr-compliance-banner,
#phrase_notification_cookies,
#pl_cookies,
#polityka-cookies,
#politykacooki,
#popUpInfosLegal,
#popinCookie,
#popup-cookies,
#popup_cookie,
#privacy-bar,
#privacy-message-bar,
#privacy-policy-panel,
#privacyPolicyLayer,
#privacyWarningBanner,
#privacy_law,
#pronamic_cookie_holder,
#rbiCookiePolicy_pushDownBoxWrapper,
#rtl_cookie_small,
#rtveCookiePolicy,
#rvacookies,
#rwd-cookie-message,
#scnb-cookie-bar,
#site-cookie-policy,
#site-we-use-cookies,
#site-wide-cookie-message,
#skycom-cookie-wrapper,
#smile-cookie-wrapper,
#spartooCookies,
#sun-cookieMessage,
#svtCookieInformationContainer,
#tarteaucitronAlertBig,
#tc_privacy,
#tescoCookieNotification,
#tesco_cookie_widget,
#the-cookie,
#theme_cookie,
#tid_cookieWarning,
#tto-cookieMessage,
#tv2cookiebar,
#twCookieConsent,
#tweCookie,
#tx_cookies,
#uk-cookie-use,
#us-cookies,
#user_optin_banner,
#usrcookies,
#viewlet-cookiepolicy,
#warn-cookies-area,
#warning_cookie,
#website-cookies,
#widget-vrtcookiebalk,
#wk_cookiebar,
#wsjconsent,
#wt-cookie-box,
.CNIL,
.CookieAcceptPanel,
.CookieChoiceContainer,
.CookieConsent,
.CookieDirectiveDisplay,
.CookieDirectiveHeight,
.CookieMonsterBox,
.CookieNotification,
.CookieNotificationTopBar,
.CookieWarning,
.CookiesBar,
.CookiesMessageContainer,
.EUCookie,
.ModThomasCookiesC,
.PortletGestionDesCookiesCNIL,
.accept-cookies,
.acceptCookies,
.acceptCookiesBox,
.acceptcookies,
.agegate-cookie,
.alert-cookie,
.alert-cookies,
.alert-cookies-banner,
.ban-cookies,
.bandeau-cnil,
.bandeau-cookies,
.bandeau_consent,
.bannerInformativaEU,
.barre-info-cookies,
.barreInfoCookies2,
.barre_cookies,
.blocCookie,
.bmj-cookie-noticebar-content,
.box-cookies,
.box_cookie,
.c-cookieContainer,
.c2g_daimler_cookie_dialog_overlay,
.capaAvisoCookies,
.capa_cookie,
.capa_cookies,
.cc-banner,
.cc-cookies,
.cc-fixed-bottom,
.cc_banner,
.cdp-cookies-alerta,
.center_cookies,
.cnil-banner,
.cnil-block,
.cnilContainer,
.cnilNotification,
.cnil_warning,
.co-cookies-disc-bar,
.com-cookie,
.container-cookie-notice,
.container_cookies,
.coockie,
.coockie_banner,
.cookie-accept-container,
.cookie-accept-overlay,
.cookie-alert,
.cookie-banner,
.cookie-bar,
.cookie-block,
.cookie-box,
.cookie-check,
.cookie-compliance,
.cookie-confirm,
.cookies-consent,
.cookie-consent,
.cookie-container,
.cookie-content,
.cookie-disclaimer,
.cookie-footer,
.cookie-header,
.cookie-info,
.cookie-info-layer,
.cookie-information-container,
.cookie-information-wrapper,
.cookie-law,
.cookie-law-overlay,
.cookie-layer,
.cookie-layer-visible,
.cookie-message,
.cookie-message-container,
.cookie-monster,
.cookie-msg,
.cookie-note,
.cookie-notice-wrapper,
.cookie-notifier,
.cookie-notify,
.cookie-opt-in,
.cookie-overlay,
.cookie-panel,
.cookie-panel-content,
.cookie-panel-overlay,
.cookie-policy-box,
.cookie-policy-notice,
.cookie-policy-statement,
.cookie-pop,
.cookie-pop-up-container,
.cookie-popup,
.cookie-prompt,
.cookie-warn-msg,
.cookie-warning,
.cookie-wrapper,
.cookieAccepterSlider,
.cookieAdvice,
.cookieAlertBarMessage,
.cookieAlertBox,
.cookieAsker,
.cookieBan,
.cookieBanner,
.cookieBannerContainer,
.cookieBarContainer,
.cookieBox,
.cookieConsent,
.cookieConsentPanel,
.cookieContainer,
.cookieDisclaimer,
.cookieDisclaimerContainer,
.cookieDisclaimerContainerWrapper,
.cookieInfo,
.cookieInformation,
.cookieInside,
.cookieLaw,
.cookieLegal,
.cookieMaster,
.cookieMessage,
.cookieMessageDiv,
.cookieMsgContainer,
.cookieNotice,
.cookieNoticePopUp,
.cookieNotification,
.cookieOptIn,
.cookiePanel,
.cookiePolicy,
.cookiePolicyBannerOuter,
.cookiePopup,
.cookiePopupContainer,
.cookiePrompt,
.cookieToast,
.cookieTooltip,
.cookieTooltipKontener,
.cookieWarning,
.cookieWarningBox,
.cookieshow,
.cookie_accept,
.cookie_bar,
.cookie_consent,
.cookie_content,
.cookie_info,
.cookie_message,
.cookie_notice,
.cookie_notification,
.cookie_optin_box,
.cookie_overlay,
.cookie_panel,
.cookie_policy_message,
.cookie_popup,
.cookie_privacy_info_bar,
.cookie_warning,
.cookie_wrapper,
.cookiebar,
.cookiebarinner,
.cookieconsent,
.cookieconsent-popup,
.cookied,
.cookiedisclaimer,
.cookieinfo,
.cookieleiste,
.cookiemonster,
.cookienotice-bar,
.cookienotice-container,
.cookiepolicy,
.cookiepopupcontainer,
.cookies-alert,
.cookies-alert-wider-wrap,
.cookies-banner,
.cookies-bar,
.cookies-container,
.cookies-dialog,
.cookies-eu,
.cookies-info-static,
.cookies-msg,
.cookies-note,
.cookies-notice-msg,
.cookies-notification,
.cookies-open,
.cookies-popin,
.cookies-popup,
.cookies-sec,
.cookies-warning,
.cookies-wrapper,
.cookiesAlert,
.cookiesBlock,
.cookiesContent,
.cookiesInfo,
.cookiesMessage,
.cookiesMessageBanner,
.cookiesMessageLayer,
.cookiesNotification,
.cookiesPro,
.cookiesWarning,
.cookiesWarning-container,
.cookies_bar,
.cookies_box,
.cookies_notifier,
.cookies_policy_container,
.cookies_yum,
.cookiesbar,
.cookiesinfo,
.cookieslaw,
.cookiespolicy,
.cookiestrip,
.cookietext,
.cookiewrapper,
.ctl_CookieWarning,
.cwcookielaw,
.dismissable-cookie-policy,
.divCookiePopUp,
.divCookiePopUpContainer,
.dom-content--eu-banner,
.dr-cookie-info-box,
.drawer-cookies,
.e-cookie-message,
.ec-cookie-policy,
.eksCookieContainer,
.element-cookie-banner,
.epson_cookienotice,
.eu-cookie-nag,
.eu-cookie-notice,
.euCookie,
.euPrivacy_cookiesMsg,
.eu_cookie,
.eucookie,
.eucookie_disclaimer,
.eucookies,
.filCookiesCnil,
.footer-cnil,
.footer-cookies-policy,
.footer__cookies,
.footer_cnil,
.future-cookie-bar,
.globalcookiepolicycontainer,
.gn-cookie-alert,
.header-cookie-content,
.headerCookies,
.ib-m-cookie-banner,
.imPolicycookiemessage,
.info-cookie,
.infoCookies,
.infocookies,
.j-cookieContainer,
.jix_acceptcookies_box,
.js-cookie-compliance,
.js-cookie-disclaimer,
.js-cookie-message,
.js-cookie-policy,
.js-cookie-widget,
.js-cookieComply,
.js-cookies,
.js-message-cookies,
.js-toast-cookies,
.layerCookie,
.m_cookie,
.message-cookies,
.message-demande-cookies,
.module-cookie-info,
.notice-cookie,
.notice_notice_cookies,
.okookie,
.om-cookie-agreement,
.p-cookiebar,
.panel-cookies,
.panel_cookie,
.pea_cook_more_info_popover,
.pea_cook_wrapper,
.pf-cookie-directive,
.polityka-cookie,
.pop-cookie,
.popup-cookie,
.popup_cookie,
.react-cookie-banner,
.regional-cookie-warning,
.rlx-cookie,
.roh-cookies,
.sc-cookies,
.sd_cookiespolicy,
.sets-cookie,
.sgsCookies,
.site-cookie-panel,
.storm-cookie,
.sys_cc-cookies,
.tcCookiesDialogWrapper,
.tesco-cookie,
.texteAlerteCookie,
.toast-type-newCookie,
.tre-cookie-disclaimer,
.uk-cookie,
.uk-cookie-banner,
.uk-cookies,
.ultimize_cookie_notification_container,
.use-cookie-container,
.v2_cookies_container,
.warningCookieWrap,
.wrapper--cookies,
.wrapper--cookies-disclaimer,
.wrapperCookies,
#sliding-popup.sliding-popup-bottom,
header>.gh-banner-active:first-child,
#splash_mask,
#splash_mask+#splash_box,
.front-page>#sliding-popup,
.gh-cookieb-active>.gh-cookieb-active,
#epbar,
#gb[style="min-width:980px;"]>.gb_wb,
#pushdown>.gb_ib,
#pushdown>.gb_wb,
div[style="min-width:750px;"]>.gb_wb,
#BackToTop,
#ScrollToTopContainer,
#WidgetScrollToTop,
#back-to-top,
#back-to-top-scroll,
#back-top,
#back_to_top,
#back_to_top_now,
#backtotop-scroll,
#backtotopbutton,
#backtotoplink,
#bktotopbtn,
#bt-scroll-top,
#btn-scroll-up,
#cb-to-top,
#dynamic-to-top,
#footer-back-to-top,
#g1-back-to-top,
#go-to-top,
#goDownFooter,
#goTop,
#goTopFooter,
#gotop,
#img_goTop,
#int-btn-top,
#jm-back-top,
#jump-to-top,
#ktz-backtotop,
#mainToTopAnchor,
#move-to-top,
#scroll-to-top,
#scroll-top,
#scroll-top-link,
#scroll_back_to_top,
#scrolltotop_button,
#to_top,
#totopBtn,
#tweScrollTop,
#uix_jumpToFixed,
#uix_jumpToTopFixed,
#w2b-StoTop,
.BackToTop,
.TopGoTop,
.axScrollToTop,
.back-to-top,
.back-to-top-link,
.back-to-top-wrap,
.backToTop,
.backTopLink,
.back_to_top,
.backtopbutton,
.backtotop,
.block_to_top,
.btn-back-to-top,
.btn-go-top,
.btn-return-top,
.header_ad,
.header_ad_center,
.header_ads,
.header_advert,
.headerad,
.headerads,
.home-ad,
.home-ads,
.homeAd,
.homead,
.homepage-ad,
.homepage_ads,
.horizontal_ad,
.html-advertisement,
.image-advertisement,
.img_ad,
.imgad,
.inner_ad,
.innerad,
.interstitial_ad_wrapper,
.ipsAd,
.item-ads,
.item-container-ad,
.leaderboard-ad,
.leaderboard-ads,
.leftAd,
.leftad,
.ligatus,
.list-ad,
.list-ads,
.listad,
.logo-ad,
.marketing-ad,
.mid_ad,
.middle_AD,
.mod-adopenx,
.module-ad,
.newsAd,
.oasad,
.openx,
.page-ad,
.page_ad,
.pfAd,
.player_ad,
.player_hover_ad,
.pm-ad,
.post-ad,
.post-sponsored,
.post_ad,
.postad,
.premiumAdOverlay,
.premiumAdOverlayClose,
.promoAd,
.pub_300x250,
.pub_300x250m,
.pub_728x90,
.pushdown-ad,
.rail-ad,
.rbRectAd,
.rectangle_ad,
.refreshAds,
.region-top-ad-position,
.reklam,
.reklama,
.reportAdLink,
.resultad,
.right-ad,
.rightAd,
.right_ad,
.right_ads_column,
.rightad,
.rightadv,
.searchAds,
.searchad,
.searchads,
.showAd,
.side-ad,
.side-bar-ad-position1,
.single-ad,
.singleAd,
.skinAd,
.sky_ad,
.skyscraperAd,
.slide-ad,
.smallAd,
.small_ad,
.smallads,
.sponsor-box,
.sponsorBlock,
.sponsorBottom,
.sponsoredLinks,
.sponsorlink,
.sticky-ad,
.story-ad,
.text-ad,
.text-ad-links,
.text-ads,
.textAd,
.text_ad,
.text_ads,
.textad,
.textads,
.top-ad,
.top-ad-wrapper,
.topAds,
.top_ad,
.top_ad_div,
.top_ad_wrap,
.top_ads,
.topads,
.tower-ad,
.type_ads_default,
.view_ad,
.wideAd,
.withAds,
.wnad,
.wpInsertInPostAd,
.yom-ad,
a[href*="/adrotate-out.php?"],
a[href^="http://ad-emea.doubleclick.net/"],
a[href^="http://ad.doubleclick.net/"],
a[href^="http://adfarm.mediaplex.com/"],
a[href^="http://ads.betfair.com/redirect.aspx?"],
a[href^="http://ads2.williamhill.com/redirect.aspx?"],
a[href^="http://adserving.unibet.com/"],
a[href^="http://adultfriendfinder.com/p/register.cgi?pid="],
a[href^="http://affiliate.coral.co.uk/processing/"],
a[href^="http://marketgid.com"],
a[href^="http://mgid.com/"],
a[href^="http://online.ladbrokes.com/promoRedirect?"],
a[href^="http://pubads.g.doubleclick.net/"],
a[href^="http://us.marketgid.com"],
a[href^="http://www.bet365.com/home/?affiliate"],
a[href^="http://www.fbooksluts.com/"],
a[href^="http://www.fleshlight.com/"],
a[href^="http://www.google.com/aclk?"],
a[href^="http://www.liutilities.com/"],
a[href^="http://www.socialsex.com/"],
a[href^="http://www.yourfuckbook.com/?"],
div[id^="MarketGid"],
div[id^="div-gpt-ad-"],
iframe[id^="google_ads_frame"],
iframe[id^="google_ads_iframe"],
iframe[src^="http://ad.yieldmanager.com/"],
#header-pub,
#pub-footer,
#pub300x250,
#pub728x90,
#pubDroite,
#pub_content,
#pub_haut,
#pub_head,
#pub_right,
#pubdirecte,
#publicite,
.adbanner600active,
.nipnadszone,
.pub300,
.pub_left,
.pub_pave,
.pub_vertical,
.publicite,
.publicite_gauche,
.publicity,
.top-publicite,
#main-share,
#socialbar,
#uservoice-feedback,
#uservoice-feedback-tab,
.addthis_default_style,
.feed-icon,
.feedback-button,
.icon-rss,
.rss-feed,
.rss-widget,
.rss.icon,
.rssFeed,
.scribol,
.sharrre,
.taboola-inbetweener,
[title="Share via email"],
a[href="http://www.twellow.com/"],
#outbrain_widget_0,
.OUTBRAIN,
.outbrain,
#NewsletterSignup,
#newsletterBar,
.newsletter-popup,
.signup-email,
.subscription-box,
#cookieContainer,
#cookieOverlay,
.Cookies,
.cookie-notice,
.cookie-notification,
.cookie-policy,
.cookie-warn,
.cookieBar,
.cookie_policy,
.cookiebanner,
.cookies-info,
.no-cookies,
#backToTop,
#backtotop,
#to-the-top,
.scroll-to-top,
.top-of-page,
#SocialIcons,
#___plus_0,
#___plusone_0,
#advancedsocialwidget,
#digg-widget,
#digg_module,
#digg_upcoming_content,
#facebook_btn,
#facebook_button,
#facebook_like_button_holder,
#fbContainer,
#fb_header,
#layout-social,
#likebtn,
#module_digg,
#share-box,
#share-button,
#share-links,
#share-reddit,
#shareMenu,
#share_button,
#share_container,
#share_feed,
#share_link,
#share_links,
#sharebar,
#sharebox,
#sharebuttons,
#sharer,
#sharevideo,
#social-footer,
#social-header,
#social-media,
#social-sidebar,
#social-wrapper,
#socialContainer,
#social_bar,
#social_footer,
#socials,
#top_share,
#tweets,
#twitter_button,
.FollowButton,
.addthis_32x32_style,
.addthis_toolbox,
.addthisbuttons,
.advanced-social-widget,
.arqam-widget-counter,
.article-share,
.article_share,
.block-socialmedia,
.btn-facebook,
.btn-fb,
.btn-google-plus,
.btn-gplus,
.btn-instagram,
.btn-linkedin,
.btn-share,
.btn-twitter,
.btnFacebook,
.btnTwitter,
.btn_fb,
.button-pinterest,
.button-share,
.comment_share,
.connect_widget,
.custom-sharing-link,
.custom-social,
.digg-button,
.digg_button,
.embed-twitter,
.fa-facebook,
.fa-facebook-square,
.fa-google-plus,
.fa-share-alt,
.fa-twitter,
.fa-youtube-play,
.facebook-btn,
.facebook-button,
.facebook-container,
.facebook-widget,
.facebook.icon,
.facebookBtn,
.facebookLikeBox,
.facebook_button,
.facebookbutton,
.fb-box,
.fb-btn,
.fb-button,
.fb-like,
.fb-likebox,
.fb-link,
.fb-recommendations,
.fb-recommendations-bar,
.fb-share-box,
.fbBox,
.fbContainer,
.fb_box,
.fb_btn,
.fb_button_large,
.fb_edge_widget_with_comment,
.fb_like_container,
.fb_share,
.fblike,
.follow-bar,
.follow-btn,
.follow-button,
.follow-label,
.follow-widget,
.followBox,
.follow_box,
.follow_btn,
.follow_twitter,
.footer-social,
.g-plus,
.g-plusone,
.google-btn,
.google-plus,
.google_plus,
.group_share,
.icon-facebook,
.icon-facebook2,
.icon-fb,
.icon-google-plus,
.icon-google-plus-sign,
.icon-googleplus,
.icon-gplus,
.icon-instagram,
.icon-share,
.icon-social-facebook,
.icon-social-linkedin,
.icon-soundcloud,
.icon-twitter,
.icon_gplus,
.img-share,
.instagram-follow,
.itemSocialSharing,
.j-social-actions,
.j-social-button,
.linkedin.icon,
.list-share,
.m-article__share-buttons,
.mod-socialmedia,
.photo-share,
.pin-it-button,
.pinButton,
.pinit-overlay,
.pinit_btn,
.pinterest-button,
.pinterest-share-button,
.pinterest1,
.pinterestComponentShare,
.plusone,
.post-fb,
.post-fb-like,
.post-social,
.post_share,
.reddit_button,
.retweet,
.share-bar,
.share-box,
.share-btn,
.share-button,
.share-buttons,
.share-container,
.share-facebook,
.share-head,
.share-header,
.share-icon,
.share-item,
.share-link,
.share-menu,
.share-options,
.share-panel,
.share-popup,
.share-section,
.share-title,
.share-twitter,
.share-widget,
.share-with-friends,
.share-wrap,
.share-wrapper,
.shareContainer,
.shareCount,
.shareLeft,
.shareLink,
.shareLinks,
.sharePanel,
.shareText,
.shareTools,
.shareToolsItem,
.share_bar,
.share_bottom,
.share_container,
.share_panel,
.share_tools,
.share_wrapper,
.sharebox,
.sharebutton,
.sharebuttons,
.sharecontainer,
.sharethis-wrapper,
.sharetools,
.sharing-buttons,
.show-share,
.show_social,
.social-bar,
.social-block,
.social-bottom,
.social-box,
.social-btn,
.social-button,
.social-buttons,
.social-count,
.social-counter,
.social-facebook,
.social-google,
.social-gplus,
.social-header,
.social-icon,
.social-icons,
.social-link,
.social-links,
.social-media,
.social-media-buttons,
.social-post,
.social-sharing,
.social-sidebar,
.social-tab,
.social-top,
.social-twitter,
.social-wrap,
.social-wrapper,
.socialBlock,
.socialBox,
.socialButtons,
.socialIcon,
.socialList,
.socialMedia,
.social_bar,
.social_buttons,
.social_container,
.social_links_top,
.social_row,
.social_share,
.social_toolbar,
.socialbar,
.socialbox,
.socialboxp,
.socialbuttons,
.socialmedia,
.socials,
.socialshare,
.stumble-button,
.subscribe-widget,
.tweet-btn,
.tweets,
.twitter-button,
.twitter-hashtag,
.twitter-share,
.twitter-share-button,
.twitter.icon,
.twitterShare,
.twitterWrapper,
.twtr-widget,
.ui-share-component,
.vertical-social,
.wrapper-share,
.x-facebook,
.youtube_subscribe_module,
[alt="retweet"],
[href="http://www.addthis.com/bookmark.php"],
[href^="http://reddit.com/submit"],
[title="Share to Facebook"],
[title="submit to redit"],
a[href="http://delicious.com/save"],
a[href="http://twitter.com/share"],
a[href="http://www.delicious.com/save"],
a[href^="http://del.icio.us/post?url="],
a[href^="http://digg.com/submit?url="],
a[href^="http://pinterest.com/pin/create/button/"],
a[href^="http://technorati.com/faves?add="],
a[href^="http://twitter.com/?status="],
a[href^="http://twitter.com/home/?"],
a[href^="http://twitter.com/home?"],
a[href^="http://twitter.com/share?"],
a[href^="http://www.digg.com/submit?"],
a[href^="http://www.facebook.com/share.php?u="],
a[href^="http://www.pinterest.com/pin/create/button/?"],
a[href^="http://www.reddit.com/submit"],
a[href^="http://www.stumbleupon.com/submit?url"],
a[href^="http://www.tumblr.com/share/"],
a[href^="https://facebook.com/sharer.php?"],
a[href^="https://twitter.com/intent/follow?"],
a[href^="https://twitter.com/intent/tweet?"],
a[href^="https://www.facebook.com/sharer.php?"],
a[href^="https://www.google.com/bookmarks/mark?"],
a[href^="https://www.linkedin.com/cws/share?"],
a[href^="https://www.stumbleupon.com/submit?url="],
a[title="Facebook"],
a[title="Google Plus"],
a[title="Google+"],
a[title="LinkedIn"],
a[title="Pinterest"],
a[title="Twitter"],
a[title="Youtube"],
a[title="facebook"],
div[id^="digg-widget-"],
img[alt="Facebook"],
img[alt="Google+"],
img[alt="Instagram"],
img[alt="LinkedIn"],
img[alt="Pinterest"],
img[alt="Reddit"],
img[alt="Twitter"],
img[alt="Vine"],
img[alt="Youtube"],
img[alt="facebook"],
img[alt="submit to reddit"],
img[alt="twitter"],
img[title="Facebook"],
img[title="LinkedIn"],
img[title="Twitter"],
img[title="YouTube"],
[class*='gdpr'],[id*='gdpr'],[class*='GDPR'],[id*='GDPR'],
body [class*='ads'],body [id*='ads'],body [alt*="ads"],
[class^='adv'],[id*='adv'],
[alt*="adv"],
// [role="alert"],

//economist//
#_evidon-barrier-wrapper,
#tp-regwall, #piano-ribbon,
[class*="customer-chat"], .advert, .layout-article-promo,

//gulfnews
.gn-cookies-warning,

// khaleejtimes
div[id^="FIOnDemandWrapper_fiInstance_"], 
#amplifyWidget, iframe#ktaffliatesidebar, .ins-popup-button,

//dubai.dubizzle
[id$='WarningBanner'], .seller_banner, #top-leaderboard,
[class*="Ads"],
//emirates
#onetrust-consent-sdk,
.bx-skywards-login-wrapper,
#ctl00_c_dvTacticalMessage,
.operational-update.operational-update--not-dismissed,
#bx-mobile_web_feedback_button,

// mocd.gov.ae
[data-test-id*="ChatWidget"],
#arabot-webchat-wrapper,
.notifications,
.mr-cont-tooltip-window,


//aljazeera.com
#sticky-footer,

//etisalat
[class*="CookiePolicy"],
#chat-hello-id, #RTInterceptPopup,
#needHelp, ins,
.btn-ai-support,
.gn-scroll-elem,
.ad-link,
// moe.gov.ae
#quriobotWidgetPopup,.quriobotWidgetPopup,
[simplywebbg="main"][id*="botbutton"], [class*="quriobotWidgetButton"],
[aria-label*="chatbot"],


//vietnam websites
[id*="ads"], [id^="admzone"], iframe[id^="b_zone"], 

//manoramaonline.com
#notpanel, mybot, .mm-textlink-ad,

//wiki
#frb-inline,

//hln.be
.sleeknote-anchor
{
	display: none !important;
	visibility: hidden !important;
	pointer-events: none !important;
	orphans: 4321;
}




