$color_bg_main : #101010;
$color_bg_submain : #1e1e1e;
$color_text_main : #6e6e6e;
$color_bg_box : #a9a9a9;
$color-dim-white: #e7e7e7;

// Color Button
$color_btn_inactive : #6e6e6e;
$color_btn_txt_inactive: #e7e7e7;


$color_btn_active: #e7e7e7;
$color_btn_txt_active: #101010;



$color_link : #e7e7e7;

// popup 
$color_popup_bg : rgb(109, 109, 109);
$color_popup_text : #e7e7e7;
$color_popup_border : #6e6e6e;

