// $color_bg_main : #bcbec0; -> color old
$color_bg_main : #e7e7e7;
$color_bg_submain : #d1d3d4;
// $color_text_main : #707070; -> old
$color_text_main : #6e6e6e;
$color_bg_box : #bcbec0;
$color-dim-white: #969696;

// Color Button
$color_btn_inactive : #707070;
$color_btn_txt_inactive: #e7e7e7;

$color_btn_active: #e7e7e7;
$color_btn_txt_active: #707070;

$color_link : #bcbec0;


// popup 
$color_popup_bg : rgb(109, 109, 109);
$color_popup_text : #e7e7e7;
$color_popup_border : #6e6e6e;
