$color_bg_main : #6e6e6e;
$color_text_main : #e7e7e7;
$color_bg_submain : #848484;
$color_bg_box : #a9a9a9;
$color-dim-white: #414141;

// Color Button
$color_btn_inactive : #e7e7e7;
$color_btn_txt_inactive: #414141;

$color_btn_active: #414141;
$color_btn_txt_active: #6e6e6e;

$color_link : #e7e7e7;


// popup 
$color_popup_bg : rgb(64, 64, 64);
$color_popup_text : #e6e6e6;
$color_popup_border : #e6e6e6;
